.sidebar{
    padding: var(--space-md) 0 var(--space-md) var(--space-xl);
    width: 15%;
}
.sidebar_list{
    cursor: pointer;
    font-weight: 500;
}
.sidebar_icon{
    font-size: 1.4rem;
    margin: 0 var(--space-xs) var(--space-md) 0;
}
.watchlater_icon{
    margin-left: .2rem;
}

@media screen and (max-width:850px){
    .sidebar{
        width: 17%;
    }
}

@media screen and (max-width:750px){
    .sidebar{
        display: none;
    }
}
