.sidebar{
    padding: var(--space-md);
}
.sidebar_list{
    cursor: pointer;
    font-weight: 500;
}
.sidebar_icon{
    font-size: 1.4rem;
    margin: 0 var(--space-xs) var(--space-md) 0;
}
.watchlater_icon{
    margin-left: .2rem;
}
